{% extends "base.html" %}

{% block title %}Mc allergys{% endblock %}

{% block content %}

    <div id="header">
    </div>

    <div id="menu">
      <div>
        <form action="/process" method="POST">
          <h2>Food selection</h2>
          <input type="radio" name="Ftype" value="Burgers" checked>  Burgers,Wraps and Pies<br>
          <input type="radio" name="Ftype" value="breakfast"> Breakfast<br>
          <input type="radio" name="Ftype" value="dessert"> Desserts<br>
          <input type="radio" name="Ftype" value="sides"> Sides<br>
          <input type="radio" name="Ftype" value="drinks"> Drinks<br>
          <input type="radio" name="Ftype" value="condiments"> Condiments<br>
          <h2>Allergin selection</h2>
          <input type="checkbox" name="gluten" value="Gluten"> Gluten<br>
          <input type="checkbox" name="egg" value="Eggs"> Egg<br>
          <input type="checkbox" name="milk" value="Milk"> Milk<br>
          <input type="checkbox" name="soy" value="Soy"> Soy<br>
          <input type="checkbox" name="fish" value="Fish_Crust"> Fish and Crustatia<br>
          <input type="checkbox" name="peanuts" value="Peanuts"> Peanuts<br>
          <input type="checkbox" name="treeNuts" value="Tree_Nuts"> Tree Nuts<br>
          <input type="checkbox" name="sesameSeeds" value="Sesame_Seeds"> Sesame Seeds<br>
          <input type="checkbox" name="sulpites" value="Sulphites"> Sulpites<br>
          <input type="checkbox" name="lupin" value="Lupin"> Lupin<br>
          <input type="checkbox" name="preservatives" value="Preservative"> Preservatives<br>
          <input type="checkbox" name="flavour" value="Flavour"> Flavour<br>
          <input type="checkbox" name="colour" value="Colours"> Colours<br>
          <input type="submit" value="Submit">
        </form>

    </div>
{% endblock %}
