{% extends "base.html" %}

{% block title %}Mc allergys{% endblock %}

{% block content %}

    <div id="header">
    </div>

    <div id="menu">
        <div>
          <h2>Menu</h2>
          <form action="/">
            <input type="submit" value="back">
          </form>
          <ul class="menu-items">
            <li>Name | Gluten | Eggs | Milk | Soy | Fish - crustation | Peanuts | Tree Nuts | Sesame Seeds | Sulphites | Lupin | Preservative | Flavour | Colours </li>
            {% for d in display %}
            <li>{{ d[1] }} | {{ d[2] }} | {{ d[3] }} | {{ d[4] }} | {{ d[5] }} | {{ d[6] }} | {{ d[7] }} | {{ d[8] }} | {{ d[9] }} | {{ d[10] }} | {{ d[11] }} | {{ d[12] }} | {{ d[13] }} | {{ d[14] }}</li>
            {% endfor %}
          </ul>
        </div>

    </div>
{% endblock %}
